{% extends 'messaging_service/base.html' %}
{% block content %}
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
    <nav class="ms-5">
        <a class="p-2 btn btn-outline-primary" href="{% url 'messaging_service:settings-form' %}">Добавить
            рассылку</a>
    </nav>
</div>
<div class="row text-left">
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Клиент</th>
            <th scope="col">Дата начала рассылки</th>
            <th scope="col">Дата окончания рассылки</th>
            <th scope="col">Периодичность рассылки</th>
            <th scope="col">Статус рассылки</th>
            <th scope="col"> </th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
        <tr>
            <td>{{ object.pk }}</td>
            <td>{{ object.message }}</td>
            <td>{{ object.client }}</td>
            <td>{{ object.start_date }}</td>
            <td>{{ object.end_date }}</td>
            <td>{{ object.period }}</td>
            <td>{{ object.status }}</td>
            {% if user.is_superuser or user.is_staff or user == object.user %}
            <td>
                <a class="p-2 btn btn-outline-primary" href="{% url 'messaging_service:settings-edit' object.pk %}">Редактировать</a>
                <a class="p-2 btn btn-outline-primary" href="{% url 'messaging_service:settings-delete' object.pk %}">Удалить</a>
            </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}